
.example-form{
  width: 46%;
}

.example-full-width {
  width: 215%;
}
h5{
  color : #1d0726;
}
.btn:link, .btn:visited{
  text-transform: uppercase;
  border-radius: 100px;
  text-decoration: none;
  transition: all .2s;
  padding: 15px 40px;
  display: inline-block;
  position: relative;
}
//
.btn-white{
  background-color: #d2c9d2;
  color: #777;
}
//
.heading-primary{
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px;
}
//
.btn:active{
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 137, 121, 0.2);
}
//
.btn:hover::after{
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
//
.btn-white::after{
  background-color: #dd1b16;
}


.input-group-text {
  margin-right: 2px;
}

.active {

  font-family: Arial;
  color: #676767;


}


.active2 {

  font-family: Arial;
  color: #676767;
  text-align: center;

}
.dx-fieldset {
  margin: 0;
}
.dx1-fieldset {
  margin: 0;
}

.nav-form-bar {
  width: 100%;
  height: 40px;
  background-color: #d0d0d0;
  display: flex;
  //flex-direction: row-reverse;
  .btn-bar {
    padding: 5px;
    color: white;
    cursor: pointer;
    width: 20px;
    height: 10px;
  }
}

.butttons-style {
  width: 120px;
  background-color: #00A09D !important;
  border-color: #fff  !important;
  color: #fff !important;
}


.buttons-group {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
  padding: 5px;
}

.card-6 {
  height: 275px;
}
.card {
  border-color: rgba(29, 29, 29, 0.44) !important;
  background-color: #9d9d9d00;
}

.spacial-card {
  margin: 20px 0;
}
.card-header {
  background-color:#4e284e36 !important;
  margin-bottom: 20px;
}

.spacial-buttom {
  background-color: #3e90d3 !important; ;
  border-color: #3e90d3 !important;
}

.radio-spacial {
  display: flex;
  //margin-top: 0px;
}

label {
  color: #00a09d;
  font-family: sans-serif;
  font-size: smaller;

  //font-weight:bold;
}

.step{
  .step-content{
    background: #b9b9b9;
    height: 40px;
    font-size: 1.5rem;
    .step-name{
      font-size: 14px;
    }
    &.confirmed{
      background-color: #008979 !important;
    }
  }
}

.confirmed-content{
  .fa-check{
    font-size: 120px;
  }
  .fa-print{
    font-size: 24px;
  }

}
.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}
.something-else .fa {
  transition: .3s transform ease-in-out;
}
.something-else .collapsed .fa {
  transform: rotate(-90deg);
}
.list .fa {
  transition: .3s transform ease-in-out;
}
.list .collapsed .fa {
  transform: rotate(90deg);
}

///////////////////////////TestArea Responsive********************
.container {
  max-width: 820px;
  margin: 0px auto;
  margin-top: 50px;
}
.comment {
  float: left;
  width: 100%;
  height: auto;
}
.commenter {
  float: left;
}
.commenter img {
  width: 35px;
  height: 35px;
}
.comment-text-area {
  float: left;
  width: 100%;
  height: auto;
}

.textinput {
  float: left;
  width: 100%;
  min-height: 75px;
  outline: none;
  resize: none;
  border: 1px solid grey;
}
.TextAera{
  width: 39vw;
  padding: -6px;
  height: 129px;
}
.bar{
  float: left;
  width: 150px;
  margin: 5px;
}
#foo
{
  overflow-x: auto;
}
.some-class {
  float: left;
  clear: none;
}

table {
  border-collapse: separate;

}
;

td {

  padding-left: 1px;
}

::ng-deep #age {
  display: inline-block;
}
active{

  font-family: Arial;

  text-align: center;
}
th{
  font-size: smaller;
  color: #0c01018c;
}
.sub{
  display: none;
}

legend {
  display: block;
  padding-left: 4px;
  padding-right: 2px;
  border: 1px  solid;
  border-radius: 30px;
  background-color: #ece7ec;
  border-color: gray;
  height: 21px;
  padding-top: 0.20rem;
  color: #3d3838;
  font-weight: bold;
}

fieldset{
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 1px solid;
  border-color: gray;
  border-radius: 1.5rem;
}
fieldset.toggleAble {
  height: 8px; /* for IE purposes, this can't be 0 */
  overflow: hidden;
}
.colorTab {
  font-family: Arial;
  color: #212529d1;
}
