.login-container{
    position: absolute;
    .card{
        .card-header{
            width: 80px;
            height: 80px;
            margin: 0 auto;
            margin-top: -40px;
            border-radius: 50%;
            font-size: 36px;
        }
    }
}
.logo-login {
    width: 130%;
    height: 80%;
}
.force-white {
    color: rgba(216, 216, 216, 0.6) !important;
}
.error-container {
    cursor: not-allowed !important;
}

.spacial-itm {
    background-color: white !important;
}

.card-spacial {
    background-color: #045C6C !important;
}
